<ul>
	{{burger_name}}

	<!--Button to "eat" burger-->
	<button type="button" class="btn btn-warning change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}} 
			Eat Me!
		{{/if}}
	</button>
</ul>